@model IEnumerable<OceniTest.Web.ViewModels.Quizzes.SurveyViewModel>
@{
    this.ViewData["Title"] = "All Surveys";
}

<h1>@this.ViewData["Title"]</h1>

<section class="table">
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table>
        <thead>
            <tr>
                <th>@Html.ActionLink("Name", "All", new { sortOrder = ViewBag.NameSortParm })</th>
                <th>@Html.ActionLink("Created On", "All", new { sortOrder = ViewBag.DateSortParm })</th>
                <th>Category</th>
                <th>Questions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CreatedOn.ToString("MM/dd/yyyy")</td>
                    <td>@item.Category</td>
                    <td>@item.QuestionsCount</td>
                </tr>
            }
        </tbody>
    </table>
</section>

