@model IEnumerable<OceniTest.Web.ViewModels.Quizzes.SurveyViewModel>
@{
    this.ViewData["Title"] = "All Surveys";
}

<section class="table">
    <form>
        <p>
            Find by name: <input type="text" name="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>
    <table>
        <thead>
            <tr>
                <th><a asp-action="All" asp-route-sortOrder="@this.ViewBag.NameSortParm" >Name</a><i class="fas fa-sort"></i></th>
                <th><a asp-action="All" asp-route-sortOrder="@this.ViewBag.DateSortParm">Created On</a><i class="fas fa-sort"></i></th>
                <th>Category</th>
                <th>Questions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="window.location = '/Quizzes/Details/@item.Id'">
                    <td>@item.Name</td>
                    <td>@item.CreatedOn.ToString("MM/dd/yyyy")</td>
                    <td>@item.Category</td>
                    <td>@item.QuestionsCount</td>
                </tr>
            }
        </tbody>
    </table>
</section>

