@model IEnumerable<OceniTest.Web.ViewModels.Quizzes.QuizViewModel>
@{
    this.ViewData["Title"] = "All Quizzes";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (var item in Model)
{
    <div id="@item.Id">
        <label asp-for="@item.Name"></label> : @item.Name
        <label asp-for="@item.CreatedOn"></label> : @item.CreatedOn
        <label asp-for="@item.ModifiedOn"></label> : @item.ModifiedOn
        <label asp-for="@item.QuestionsCount"></label> : @item.QuestionsCount
        <label asp-for="@item.SubmitsCount"></label> : @item.SubmitsCount
        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">View</a>
    </div>
}

