@model OceniTest.Web.ViewModels.Quizzes.CreateSurveyInputModel
@{
    this.ViewData["Title"] = "Create Survey";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
}

<form class="create-form" id="createSurveyForm" method="post">

    <article class="create-form-inputs">
        <h3 class="create-form-inputs-title">Name your survey</h3>

        <section class="create-form-field">
            <label asp-for="Name"></label>
            <input placeholder="Survey Name" asp-for="Name" />
            <span asp-validation-for="Name" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="Title"></label>
            <input placeholder="Survey Title" asp-for="Title" />
            <span asp-validation-for="Title" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="Description"></label>
            <textarea placeholder="Survey Description" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="alert-danger"></span>
        </section>

        <section class="create-form-field-radio">
            <article class="create-form-field-radio-option">
                <input type="radio" asp-for="IsPrivate" value="true" />
                <label>Private</label>
            </article>
            <article class="create-form-field-radio-option">
                <input type="radio" asp-for="IsPrivate" value="false" />
                <label>Public</label>
            </article>
            <span asp-validation-for="IsPrivate" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="categories"></select>
            <span asp-validation-for="CategoryId"></span>
        </section>
    </article>

    <article class="create-form-questions">
        <h3 class="create-form-questions-title">Customize your questions</h3>

        <a id="addQuestionBtn">Add Question</a>

        <section class="create-form-questions-content" id="Questions" name="Questions">
            @{
                var questionsCount = 0;

                @foreach (var question in Model.Questions)
                {
                    <article id="@questionsCount" class="question">
                        <label asp-for="Questions[questionsCount].Description">Question @(questionsCount + 1).</label>
                        <textarea asp-for="Questions[questionsCount].Description" placeholder="Enter your question here">@question.Description</textarea>
                        <span asp-validation-for="Questions[questionsCount].Description" class="alert-danger"></span>

                        <button class="removeQuestionBtn">Discard</button>
                        <button class="addAnswerBtn">Answer</button>

                        @{
                            var answersCount = 0;
                        }

                        <section class="create-form-questions-content-answers">
                            @foreach (var answer in question.Answers)
                            {
                                <article class="answer">
                                    <label asp-for="Questions[questionsCount].Answers[answersCount].Description">Answer @(answersCount + 1).</label>
                                    <textarea asp-for="Questions[questionsCount].Answers[answersCount].Description" placeholder="Enter your answer here" class="questionAnswer">@answer.Description</textarea>
                                    <span asp-validation-for="Questions[questionsCount].Answers[answersCount].Description" class="alert-danger"></span>
                                </article>

                                answersCount++;
                            }

                            <span asp-validation-for="Questions[questionsCount].Answers" class="alert-danger"></span>
                        </section>
                    </article>

                    questionsCount++;
                }
            }
        </section>
        <span asp-validation-for="Questions" class="alert-danger"></span>

        <input class="submitBtn" id="submitBtn" form="createSurveyForm" type="submit" asp-action="Create" value="Create" />
    </article>
</form>

