@model OceniTest.Web.ViewModels.Quizzes.CreateSurveyInputModel
@{
    this.ViewData["Title"] = "Create Survey";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
}

<form class="create-form" id="createSurveyForm" method="post">

    <article class="create-form-inputs">
        <h3 class="create-form-inputs-title">Name your survey</h3>

        <section class="create-form-field">
            <label asp-for="Name"></label>
            <input placeholder="Survey Name" asp-for="Name" />
            <span asp-validation-for="Name" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="Title"></label>
            <input placeholder="Survey Title" asp-for="Title" />
            <span asp-validation-for="Title" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="Description"></label>
            <textarea placeholder="Survey Description" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="alert-danger"></span>
        </section>

        <section class="create-form-field-radio">
            <article class="create-form-field-radio-option">
                <input type="radio" asp-for="IsPrivate" value="true" />
                <label>Private</label>
            </article>
            <article class="create-form-field-radio-option">
                <input type="radio" asp-for="IsPrivate" value="false" />
                <label>Public</label>
            </article>
            <span asp-validation-for="IsPrivate" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="categories"></select>
            <span asp-validation-for="CategoryId"></span>
        </section>
    </article>

    <article class="create-form-questions">
        <h3 class="create-form-questions-title">Customize your questions</h3>

        <a id="addQuestionBtn">Add Question</a>

        <section class="create-form-questions-content" id="Questions" name="Questions">
            @{
                var questionsCount = 0;

                @foreach (var question in Model.Questions)
                {
                    <article id="@questionsCount" class="question">
                        <label asp-for="Questions[questionsCount].Description">Question @(questionsCount + 1).</label>
                        <textarea asp-for="Questions[questionsCount].Description" placeholder="Enter your question here">@question.Description</textarea>
                        <span asp-validation-for="Questions[questionsCount].Description" class="alert-danger"></span>

                        <button class="removeQuestionBtn">Discard</button>
                        <button class="addAnswerBtn">Answer</button>

                        @{
                            var answersCount = 0;
                        }

                        <section class="create-form-questions-content-answers">
                            @foreach (var answer in question.Answers)
                            {
                                <article class="answer">
                                    <label asp-for="Questions[questionsCount].Answers[answersCount].Description">Answer @(answersCount + 1).</label>
                                    <textarea asp-for="Questions[questionsCount].Answers[answersCount].Description" placeholder="Enter your answer here" class="questionAnswer">@answer.Description</textarea>
                                    <span asp-validation-for="Questions[questionsCount].Answers[answersCount].Description" class="alert-danger"></span>
                                </article>

                                answersCount++;
                            }

                            <span asp-validation-for="Questions[questionsCount].Answers" class="alert-danger"></span>
                        </section>
                    </article>

                    questionsCount++;
                }
            }
        </section>
        <span asp-validation-for="Questions" class="alert-danger"></span>

        <input class="submitBtn" id="submitBtn" form="createSurveyForm" type="submit" asp-action="Create" value="Create"/>
    </article>
</form>

<script type="text/javascript">
    var questionsCount = document.querySelectorAll('#Questions .question').length;

    function AddQuestion() {
        document.getElementById('addQuestionBtn').addEventListener('click', function (event) {
            event.preventDefault();

            var articleElement = Element('article', '', { class: 'question', id: `${questionsCount}` });

            var labelElement = Element('label', `Question ${questionsCount + 1}.`, { for: `Questions[${questionsCount}].Description` });
            var textareaElement = Element('textarea', '', { name: `Questions[${questionsCount}].Description`, id: `Questions[${questionsCount}].Description`, placeholder: 'Enter your question here' });
            var spanElement = Element('span', '', { 'data-valmsg-for': `Questions[${questionsCount}].Description` });
            var removeButtonElement = Element('button', 'Discard', { class: 'removeQuestionBtn' });
            var addQuestionAnswerElement = Element('button', 'Answer', { class: 'addAnswerBtn' });
            var answersElement = Element('section', '', { class: 'create-form-questions-content-answers' });

            articleElement.appendChild(labelElement);
            articleElement.appendChild(textareaElement);
            articleElement.appendChild(spanElement);
            articleElement.appendChild(removeButtonElement);
            articleElement.appendChild(addQuestionAnswerElement);
            articleElement.appendChild(answersElement);

            document.querySelector('#Questions').appendChild(articleElement);

            questionsCount++;
        })
    }

    function HandleEvents() {
        document.getElementById('Questions').addEventListener('click', function (event) {
            event.preventDefault();
            var target = event.target;

            if (target.textContent == 'Discard') {
                var elementToRemove = target.parentNode;
                document.querySelector('#Questions').removeChild(elementToRemove);
                var questionNumber = elementToRemove.getAttribute('id');

                [...document.querySelectorAll('#Questions .question')]
                    .filter(question => question.getAttribute('id') > questionNumber)
                    .map(question => {
                        question.setAttribute('id', question.getAttribute('id') - 1);
                        question.querySelector('textarea, label, span').setAttribute('name', `Questions[${question.getAttribute('id')}].Description`);
                        question.querySelector('label').textContent = `Question ${Number(question.getAttribute('id')) + 1}.`;
                    });

                questionsCount--;
            } else if (target.textContent == 'Answer') {
                var answersCount = [...target.parentNode.querySelectorAll('.questionAnswer')].length;

                var textareaElement = document.createElement('textarea');
                var spanElement = document.createElement('span');
                var labelElement = document.createElement('label');
                var answerElement = document.createElement('article');

                labelElement.setAttribute('for', `Questions[${target.parentNode.getAttribute('id')}].Answers[${answersCount}].Description`);
                labelElement.textContent = `Answer ${answersCount + 1}.`
                textareaElement.setAttribute('placeholder', 'Enter answer option here');
                textareaElement.setAttribute('class', 'questionAnswer');
                textareaElement.setAttribute('id', `Questions[${target.parentNode.getAttribute('id')}].Answers[${answersCount}].Description`);
                textareaElement.setAttribute('name', `Questions[${target.parentNode.getAttribute('id')}].Answers[${answersCount}].Description`);
                spanElement.setAttribute('data-valmsg-for', `Questions[${target.parentNode.getAttribute('id')}].Answers[${answersCount}].Description`);
                spanElement.setAttribute('class', 'alert-danger');
                answerElement.setAttribute('class', 'answer');

                answerElement.appendChild(labelElement);
                answerElement.appendChild(textareaElement);
                answerElement.appendChild(spanElement);

                var answersSection = target.parentNode.querySelector('.create-form-questions-content-answers');

                answersSection.appendChild(answerElement);
            }
        })
    }

    function Element(type, textContent, attributes) {
        var element = document.createElement(type);
        element.textContent = textContent;

        if (attributes != undefined) {
            for (var attribute in attributes) {
                element.setAttribute(attribute, `${attributes[attribute]}`);
            }
        }

        return element;
    }

    AddQuestion();
    HandleEvents();
</script>
