@model OceniTest.Web.ViewModels.Quizzes.SingleQuizViewModel

@{
    this.ViewData["Title"] = "Quiz Details";
}

<h1>@this.ViewData["Title"]</h1>

<div>
    <strong><label asp-for="Name"></label></strong>: @Model.Name
    <br />
    <strong><label asp-for="Description"></label></strong>: @Model.Description
    <br />
    <strong><label asp-for="Title"></label></strong>: @Model.Title
    <br />
    <strong><label asp-for="CreatedOn"></label></strong>: @Model.CreatedOn
    <br />
    <strong><label asp-for="ModifiedOn"></label></strong>: @Model.ModifiedOn
    <br />
    <strong><label asp-for="QuizQuestionsCount"></label></strong>: @Model.QuizQuestionsCount
    <br />
    <strong><label asp-for="UsersCount"></label></strong>: @Model.UsersCount
</div>
<br />
<a class="btn btn-primary" asp-action="All">Back to All</a>
<a class="btn btn-success" asp-action="Start" asp-route-id="@Model.Id">Start</a>
<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a id="submitDeleteButton" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#submitDeleteButton").on("click", function () {
                return confirm('Are you sure you want to delete this?');
            });
        });
    </script>
}
