@model OceniTest.Web.ViewModels.Quizzes.SingleQuizViewModel

@{
    this.ViewData["Title"] = "Survey Details";
}

<article class="survey-details">
    <section class="survey-details-header">
        <h2 class="survey-details-header-title">
            @this.Model.Name
        </h2>
    </section>
    <section class="survey-details-content">
        @foreach (var question in Model.Questions)
        {
            <article class="survey-details-content-question">
                <p>@question.Description</p>
                <section class="survey-details-content-question-answers">
                    @foreach (var answer in question.Answers)
                    {
                        <input type="radio" value="@answer.Description"/>
                    }
                </section>
            </article>
        }
    </section>
</article>

<section class="survey-details-options">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Overview" asp-route-id="@Model.Id">Overview</a>
    <a id="submitDeleteButton" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#submitDeleteButton").on("click", function () {
                return confirm('This survey will be permanently deleted. Are you sure you want to proceed?');
            });
        });
    </script>
}
