@using System.Security.Claims;
@model OceniTest.Web.ViewModels.Quizzes.SingleSurveyViewModel

@{
    this.ViewData["Title"] = "Survey Details";
}

<article class="survey-details">
    <section class="survey-details-header">
        <h2 class="survey-details-header-name">
            @this.Model.Name
        </h2>
        <h4 class="survey-details-header-title">
            @this.Model.Title
        </h4>
    </section>
    <article class="survey-details-main">
        <section class="survey-details-main-content">
            <p class="survey-details-main-description">
                @this.Model.Description
            </p>
        </section>
        <section class="survey-details-values">
            <p>Questions: </p>@this.Model.QuizQuestionsCount
            <p>Created: </p>@this.Model.CreatedOn.ToString("MM/dd/yyyy")
            <p>Last Modified: </p>@this.Model.ModifiedOn.ToString("MM/dd/yyyy")
            <p>Downloads: </p>@this.Model.DownloadsCount
        </section>
    </article>
</article>

<section class="survey-details-options">
    @if (Model.UserId != null && this.User.FindFirst(ClaimTypes.NameIdentifier).Value != null && Model.UserId == this.User.FindFirst(ClaimTypes.NameIdentifier).Value)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Overview" asp-route-id="@Model.Id">Overview</a>
        <a id="submitDeleteButton" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <a asp-controller="Downloads" asp-action="Download" asp-route-id="@Model.Id">Download Survey</a>
    }
    else
    {
        <a asp-action="Overview" asp-route-id="@Model.Id">Overview</a>
        <a asp-controller="Downloads" asp-action="Download" asp-route-id="@Model.Id">Download Survey</a>
        <a asp-controller="Feedbacks" asp-action="Submit" asp-route-id="@Model.Id">Feedback</a>
    }
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#submitDeleteButton").on("click", function () {
                return confirm('This survey will be permanently deleted. Are you sure you want to proceed?');
            });
        });
    </script>
}
