@model OceniTest.Web.ViewModels.Quizzes.EditSurveyInputModel

@{
    this.ViewData["Title"] = "Edit Survey";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
}

<form class="create-form" id="editSurveyForm" method="post">

    <article class="create-form-inputs">
        <h3 class="create-form-inputs-title">Name your survey</h3>

        <section class="create-form-field">
            <label asp-for="Name"></label>
            <input placeholder="Survey Name" asp-for="Name" />
            <span asp-validation-for="Name" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="Title"></label>
            <input placeholder="Survey Title" asp-for="Title" />
            <span asp-validation-for="Title" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="Description"></label>
            <textarea placeholder="Survey Description" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="alert-danger"></span>
        </section>

        <section class="create-form-field-radio">
            <article class="create-form-field-radio-option">
                <input type="radio" asp-for="IsPrivate" value="true" />
                <label>Private</label>
            </article>
            <article class="create-form-field-radio-option">
                <input type="radio" asp-for="IsPrivate" value="false" />
                <label>Public</label>
            </article>
            <span asp-validation-for="IsPrivate" class="alert-danger"></span>
        </section>

        <section class="create-form-field">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="categories"></select>
            <span asp-validation-for="CategoryId"></span>
        </section>
    </article>

    <article class="create-form-questions">
        <h3 class="create-form-questions-title">Customize your questions</h3>

        <a id="addQuestionBtn">Add Question</a>

        <section class="create-form-questions-content" id="Questions" name="Questions">
            @{
                var questionsCount = 0;

                @foreach (var question in Model.Questions)
                {
                    <article id="@questionsCount" class="question">
                        <label asp-for="Questions[questionsCount].Description">Question @(questionsCount + 1).</label>
                        <textarea asp-for="Questions[questionsCount].Description" placeholder="Enter your question here">@question.Description</textarea>
                        <span asp-validation-for="Questions[questionsCount].Description" class="alert-danger"></span>

                        <button class="removeQuestionBtn">Discard</button>
                        <button class="addAnswerBtn">Answer</button>

                        @{
                            var answersCount = 0;
                        }

                        <section class="create-form-questions-content-answers">
                            @foreach (var answer in question.Answers)
                            {
                                <article class="answer">
                                    <label asp-for="Questions[questionsCount].Answers[answersCount].Description">Answer @(answersCount + 1).</label>
                                    <textarea asp-for="Questions[questionsCount].Answers[answersCount].Description" placeholder="Enter your answer here" class="questionAnswer">@answer.Description</textarea>
                                    <span asp-validation-for="Questions[questionsCount].Answers[answersCount].Description" class="alert-danger"></span>
                                </article>

                                answersCount++;
                            }

                            <span asp-validation-for="Questions[questionsCount].Answers" class="alert-danger"></span>
                        </section>
                    </article>

                    questionsCount++;
                }
            }
        </section>
        <span asp-validation-for="Questions" class="alert-danger"></span>

        <input class="submitBtn" id="submitBtn" form="editSurveyForm" type="submit" asp-action="Edit" value="Submit Changes" />
    </article>
</form>

<script type="text/javascript">
    var questionsCount = document.querySelectorAll('#Questions .question').length;

    function AddQuestion() {
        document.getElementById('addQuestionBtn').addEventListener('click', function (event) {
            event.preventDefault();

            var articleElement = document.createElement('article');

            var labelElement = document.createElement('label');
            var textareaElement = document.createElement('textarea');
            var spanElement = document.createElement('span');
            var removeButtonElement = document.createElement('button');
            var addQuestionAnswerElement = document.createElement('button');
            var answersElement = document.createElement('section');

            labelElement.setAttribute('for', `Questions[${questionsCount}].Description`);
            labelElement.textContent = `Question ${questionsCount + 1}.`
            textareaElement.setAttribute('name', `Questions[${questionsCount}].Description`);
            textareaElement.setAttribute('id', `Questions[${questionsCount}].Description`);
            textareaElement.setAttribute('placeholder', 'Enter your question here')
            spanElement.setAttribute('data-valmsg-for', `Questions[${questionsCount}].Description`);
            removeButtonElement.setAttribute('class', 'removeQuestionBtn');
            removeButtonElement.textContent = 'Discard';
            addQuestionAnswerElement.setAttribute('class', 'addAnswerBtn');
            addQuestionAnswerElement.textContent = 'Answer';
            answersElement.setAttribute('class', 'create-form-questions-content-answers')

            articleElement.setAttribute('class', 'question');
            articleElement.setAttribute('id', `${questionsCount}`);

            document.querySelector('#Questions').appendChild(articleElement);

            document.getElementById(`${questionsCount}`).appendChild(labelElement);
            document.getElementById(`${questionsCount}`).appendChild(textareaElement);
            document.getElementById(`${questionsCount}`).appendChild(spanElement);
            document.getElementById(`${questionsCount}`).appendChild(removeButtonElement);
            document.getElementById(`${questionsCount}`).appendChild(addQuestionAnswerElement);
            document.getElementById(`${questionsCount}`).appendChild(answersElement);

            questionsCount++;
        })
    }

    function HandleEvents() {
        document.getElementById('Questions').addEventListener('click', function (event) {
            event.preventDefault();

            if (event.target.textContent == 'Discard') {
                var elementToRemove = event.target.parentNode;
                document.querySelector('#Questions').removeChild(elementToRemove);
                var questionNumber = elementToRemove.getAttribute('id');

                [...document.querySelectorAll('#Questions .question')]
                    .filter(question => question.getAttribute('id') > questionNumber)
                    .map(question => {
                        question.setAttribute('id', question.getAttribute('id') - 1);
                        question.querySelector('textarea, label, span').setAttribute('name', `Questions[${question.getAttribute('id')}].Description`);
                        question.querySelector('label').textContent = `Question ${Number(question.getAttribute('id')) + 1}.`;
                    });

                questionsCount--;
            } else if (event.target.textContent == 'Answer') {
                var answersCount = [...event.target.parentNode.querySelectorAll('.questionAnswer')].length;

                var textareaElement = document.createElement('textarea');
                var spanElement = document.createElement('span');
                var labelElement = document.createElement('label');
                var answerElement = document.createElement('article');

                labelElement.setAttribute('for', `Questions[${event.target.parentNode.getAttribute('id')}].Answers[${answersCount}].Description`);
                labelElement.textContent = `Answer ${answersCount + 1}.`
                textareaElement.setAttribute('placeholder', 'Enter answer option here');
                textareaElement.setAttribute('class', 'questionAnswer');
                textareaElement.setAttribute('id', `Questions[${event.target.parentNode.getAttribute('id')}].Answers[${answersCount}].Description`);
                textareaElement.setAttribute('name', `Questions[${event.target.parentNode.getAttribute('id')}].Answers[${answersCount}].Description`);
                spanElement.setAttribute('data-valmsg-for', `Questions[${event.target.parentNode.getAttribute('id')}].Answers[${answersCount}].Description`);
                spanElement.setAttribute('class', 'alert-danger');
                answerElement.setAttribute('class', 'answer');

                var answerSectionsCount = [...document.querySelectorAll('.create-form-questions-content-answers')].length;

                document.querySelectorAll('.create-form-questions-content-answers')[answerSectionsCount - 1].appendChild(answerElement);

                var answersCount = [...document.querySelectorAll('.answer')].length;

                document.querySelectorAll('.answer')[answersCount - 1].appendChild(labelElement);
                document.querySelectorAll('.answer')[answersCount - 1].appendChild(textareaElement);
                document.querySelectorAll('.answer')[answersCount - 1].appendChild(spanElement);
            }
        })
    }

    AddQuestion();
    HandleEvents();
</script>
