@model OceniTest.Web.ViewModels.Pagination.PaginatedListViewModel<OceniTest.Web.ViewModels.Quizzes.QuizViewModel>

@{
    this.ViewData["Title"] = "My Surveys";
}

<section class="surveys">
    @foreach (var survey in Model)
    {
        <article class="surveys-item">
            <article class="survey" id="@survey.Id">
                <h3 class="survey-name">@survey.Name</h3>
                <p class="survey-creation">@survey.CreatedOn</p>
                <p class="survey-description">@survey.Description</p>
                <p class="survey-visibility">@survey.Visibility</p>
            </article>
            <p class="view-btn"><a class="btn btn-primary" asp-action="Details" asp-route-id="@survey.Id">See Details</a></p>
        </article>
    }
</section>

<section class="pagination">
    <partial name="_Pagination" model="@Model" />
</section>
