@model IEnumerable<OceniTest.Web.ViewModels.Quizzes.QuizViewModel>

@{
    this.ViewData["Title"] = "My Surveys";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (var item in Model)
{
<div id="@item.Id">
    <strong><label asp-for="@item.Name"></label></strong>: @item.Name
    <br />
    <strong><label asp-for="@item.CreatedOn"></label></strong>: @item.CreatedOn
    <br />
    <strong><label asp-for="@item.ModifiedOn"></label></strong>: @item.ModifiedOn
    <br />
    <strong><label asp-for="@item.QuestionsCount"></label></strong>: @item.QuestionsCount
    <br />
    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">View</a>
</div>
}
