@model OceniTest.Web.ViewModels.Pagination.PaginatedListViewModel<OceniTest.Web.ViewModels.Quizzes.SurveyViewModel>

@{
    this.ViewData["Title"] = "My Surveys";
}

@if (Model.Count == 0)
{
    <section class="no-surveys">
        <h1>No created surveys yet!</h1>
        <p>Create your first survey!</p>
        <a asp-action="Create">Create</a>
    </section>
}
<section class="surveys">
    @foreach (var survey in Model)
    {
        <article class="surveys-item">
            <article class="survey" id="@survey.Id">
                <h3 class="survey-name">@survey.Name</h3>
                <p class="survey-creation">@survey.CreatedOn.ToString("MM/dd/yyyy")</p>
                <p class="survey-description">@survey.Description</p>
                <p class="survey-visibility">@survey.Visibility</p>
            </article>
            <p class="view-btn"><a class="btn btn-primary" asp-action="Details" asp-route-id="@survey.Id">See Details</a></p>
        </article>
    }
</section>

<section class="pagination">
    <partial name="_Pagination" model="@Model" />
</section>
