@model OceniTest.Web.ViewModels.Quizzes.SurveyOverviewViewModel

@{ 
    var questionNumber = 1;
}

<article class="survey-overview">
    <section class="survey-overview-header">
        <h1 class="survey-overview-header-name">
            @this.Model.Name
        </h1>
        <h3 class="survey-overview-header-title">
            @this.Model.Title
        </h3>
    </section>
    <section class="survey-overview-content">
        @foreach (var question in Model.Questions)
        {
            <article class="survey-overview-content-question">
                <p>@($"{questionNumber}. {question.Description}")</p>
                <section class="survey-overview-content-question-answers">
                    @foreach (var answer in question.Answers)
                    {
                        <article class="survey-overview-answer">
                            <input name="@question.Id" type="radio" value="@answer.Description" />
                            <label>@answer.Description</label>
                        </article>
                    }
                </section>
            </article>

            questionNumber++;
        }
    </section>
</article>
