@model OceniTest.Web.ViewModels.Quizzes.TakeQuizInputModel

<h1>@Model.Name</h1>

<h2>@Model.Title</h2>

<form method="post">
    @foreach (var question in Model.Questions)
    {
        <div>
            <h1>@question.Description</h1>
            <ul>
                @foreach (var answer in question.Answers)
                {
                    <li>@answer.Description</li>
                }
            </ul>
        </div>
    }

    <input type="submit" asp-action="Start" asp-route-id="@Model.Id" value="Submit"/>
    <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Stop</a>
</form>
