@model OceniTest.Web.ViewModels.Dashboard.DashboardViewModel

@{
    this.ViewData["Title"] = "Dashboard";
}

<article class="dashboard">
    <section class="dashboard-header">
        <h1 class="dashboard-header-title">@this.ViewData["Title"]</h1>
    </section>
    <section class="dashboard-content">
        <article class="dashboard-content-title">
            <p>You have</p>
        </article>
        <article class="dashboard-content-data">
            <p><strong>@this.Model.SurveysCount</strong> Surveys</p>
        </article>
        <article class="dashboard-content-data">
            <p><strong>@this.Model.DownloadsCount </strong> Downloads</p>
        </article>
        <article class="dashboard-content-data">
            <p><strong>@this.Model.FeedbacksCount</strong> Feedback Provided</p>
        </article>
    </section>
    @if (this.Model.RecentSurveys.Any())
    {
        <h3 class="dashboard-surveys-header">
            Recently Created
        </h3>
        <section class="surveys">
            @foreach (var survey in Model.RecentSurveys)
            {
                <article class="surveys-item">
                    <article class="survey" id="@survey.Id">
                        <h3 class="survey-name">@survey.Name</h3>
                        <p class="survey-creation">@survey.CreatedOn.ToString("MM/dd/yyyy")</p>
                        <p class="survey-description">@(survey.Description.Length > 100 ? survey.Description.Substring(0, 100) + "..." : survey.Description)</p>
                        <p class="survey-visibility">@survey.Visibility</p>
                    </article>
                    <p class="view-btn"><a class="btn btn-primary" asp-action="Details" asp-route-id="@survey.Id">See Details</a></p>
                </article>
            }
        </section>
    }
    else
    {
        <h3 class="dashboard-surveys-header">
            You have not created a survey yet.
        </h3>
        <a class="create-survey-btn" asp-action="Create">Create</a>
    }
</article>
